<div class="catimage">
<%= image_tag "Vectoredlogo.png" %>
</div>
<div class="dright" style="left:210px">
	<h1><%= workout.name.upcase %></h1>
	<%= workout.sets %> sets / <%= workout.reps %> reps <br />
	<%= workout.per_week %> times per week <br />
	<%= workout.duration %> <br />
	tempo: <%= workout.tempo %><br />
-If you do 20 reps and don’t feel fatigued, its too light.<br />
<div class="fb-like" data-href="<%= likepage_workout_url %>" data-send="true" data-width="450" data-show-faces="true"></div>
