<div class="dright">
	<h1><%= workout.name.upcase %></h1>
	<%= workout.sets %> sets / <%= workout.reps %> reps, <%= workout.per_week %> times per week for <%= workout.duration %> at tempo: <%= workout.tempo %><br />
-If you do 20 reps and don’t feel fatigued, its too light.<br /><br />
<h1>WHOLE BODY WORKOUT ROUTINES:</h1>
This section is designed to guide you through total body strength training routines. The objective is to familiarize yourself with the bands while slowly toning and strengthening all of your primary muscles during each routine. The Beginner Routines should be used as a starting point and an introduction to this type of resistance training. <br />
You will know when you are ready to progress to the Intermediate Routines after the first 3-6 weeks, when you can keep your body balanced and aligned during each exercise. This includes: keeping your back straight, your shoulders back, and your knees slightly bent. Protecting your joints and perfecting your form are essential for properly strengthening your muscles. <br />
Continue on to the Advanced Routines once you are comfortable with all the Intermediate Routines and can feel the burn in the target muscles that you are exercising. Your body will naturally want to take the path of least resistance by trying to allow other muscles outside of the target muscle group to help compensate. Your job is to focus on the target muscle group of an exercise and channel the resistance to that area only.<br/>
During the Advanced Routines, work one arm or one leg at a time to further isolate specific muscles and enhance your body’s stability.
</div>
