<h2 class="sbbutton" id="wo<%= workout.id %>" title="<%= workout.name %>"><%= workout.name %></h2>
<script>
	$("h2#wo<%= workout.id %>").click(function () {
	$("table.exercises").html("<%= escape_javascript(render(workout.exercises)) %>");
	$("div.sidebar h2").removeClass("highlight");
	$("h2#wo<%= workout.id %>").addClass("highlight");
	}); 
</script>
