<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#">
  <head>
    <title><%= @title %></title>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->    
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
		<%= stylesheet_link_tag 'custom', :media => 'screen' %>
		<meta property="fb:app_id" content="299584876770579"/>
		<meta property="fb:admins" content="JasonMcMains"/ > 
		<meta property="og:title" content="<%= @title %>"/>
		<meta property="og:type" content="website"/>
		<meta property="og:site_name" content="Rubberbanditz Exercise App"/ >
		<meta property="og:url" content="<%= likepage_workout_url(@workout) %>"/>
		<meta property="og:image" content="<%= root_url + 'assets/Vectoredlogo.png' %>" />
		<meta property="og:description" content="This is one of Rubberbanditz great workouts!"/>
  </head>
  <body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1&appId=299584876770579";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>



