<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#">
  <head>
    <title><%= @workout.name %></title>
		<meta property="fb:app_id" content="299584876770579"/>
		<meta property="fb:admins" content="JasonMcMains"/ > 
		<meta property="og:title" content="<%= @workout.name %>"/>
		<meta property="og:type" content="website"/>
		<meta property="og:site_name" content="Rubberbanditz Exercise App"/ >
		<meta property="og:url" content="<%= likepage_workout_path(@workout) %>"/>
		<meta property="og:image" content="<%= 'assets/Vectoredlogo.png' %>" />
		<meta property="og:description" content="This is one of Rubberbanditz great workouts!"/>
  </head>
  <body>
<script>
  window.location = "<%= workout_path(@workout) %>";
</script>
  </body>
</html>



