<tr>
	<td class="exercise <%= glossary.id %>" id="<%= glossary.id %>">
		<%= link_to "+", expand_glossary_path(glossary), :remote => true, :class => "expand", :id => "bu#{glossary.id}" %></div>
		<%= link_to glossary.term, expand_glossary_path(glossary), :remote => true, :class => "text", :id => "txt#{glossary.id}"  %></div>
		<div class="data" id="ex<%= glossary.id %>" style="display:none">
			<table class="allinfo">
				<tr>
					<% if glossary.glossary_pictures.count > 0 %>
					<td>
						<% glossary.glossary_pictures.each do |pic| %>
							<%= image_tag(pic.get_site, :height => "100") %>
						<% end %>
					</td>
					<% end %>
					<td>
						<%= glossary.description %>
					</td>
				</tr>
			</table>
		</div>
	</td>
</tr>

