<tr>
	<td class="exercise <%= glossary.id %>" id="gl<%= glossary.id %>">
		<div class="expand" id="glbu<%= glossary.id %>">
			+
		</div>
		<div class="expand" id="glbu<%= glossary.id %>" style="display:none">
			-
		</div>
		<div class= "text">
			<%= glossary.term %>
		</div>
		<script>
			$("td#gl<%= glossary.id %>").click(function () {
				if ($("div#gldata<%= glossary.id %>").is(':visible')) {
					$("div#gldata<%= glossary.id %>").hide('fast');
				} else {
					$("div#gldata<%= glossary.id %>").show('fast');
				}
				$("div#glbu<%= glossary.id %>").toggle();
			}); 
		</script>
		<div class="data" id="gldata<%= glossary.id %>" style="display:none">
			<table class="allinfo">
				<tr>
					<% if glossary.glossary_pictures.count > 0 %>
					<td>
						<% glossary.glossary_pictures.each do |pic| %>
							<%= image_tag(pic.picture, :height => "100") %>
						<% end %>
					</td>
					<% end %>
					<td>
						<%= glossary.description %>
					</td>
				</tr>
			</table>

		</div>
	</td>
</tr>

