<tr>
	<td class="exercise <%= optional_accessory.id %>" id="<%= optional_accessory.id %>">
		<%= link_to "+", expand_optional_accessory_path(optional_accessory), :remote => true, :class => "expand", :id => "bu#{optional_accessory.id}" %></div>
		<%= link_to optional_accessory.name, expand_optional_accessory_path(optional_accessory), :remote => true, :class => "text", :id => "txt#{optional_accessory.id}"  %></div>
		<div class="data" id="ex<%= optional_accessory.id %>" style="display:none">
			<table class="allinfo">
				<tr>
					<td>
							<%= image_tag(optional_accessory.get_site, :height => "100") %>
					</td>
					<td>
						<%= optional_accessory.description %><br />
						For more information and purchasing details, please visit <a href="<%= optional_accessory.store_link %>">the store </a>
					</td>
				</tr>
			</table>
		</div>
	</td>
</tr>

