<h2 class="sbbutton" id="<%= category.name %>"><%= category.name %></h2>
<script>
	$("h2#<%= category.name %>").click(function () {
	$("table.exercises").html("<%= escape_javascript(render(category.exercises)) %>");
	$("div.sidebar h2").removeClass("highlight");
	$("h2#<%= category.name %>").addClass("highlight");
	}); 
</script>

