<table class="all">
	<tr>
		<td>
			<div class="sidebar">
			<h1> CATEGORY </h1>
			<h2 class="sbbutton" id="All">All</h2>
			<%= render @categories %>
			<h1> WORKOUT </h1>
			<%= render Workout.all %>
			<h1> EXTRA INFORMATION </h1>
			<h2 class="sbbutton" id="Glossary">Glossary</h2>
			<h2 class="sbbutton" id="Accessory">Accessory Descriptions</h2>
			<h2 class="sbbutton" id="GT">General Tips</h2>
			</div>
			
		</td>
		<td>
		<div class="exercises">
			<table class="exercises">
				<%= render Exercise.all %>
			</table>
		</div>
		</td>
	</td>
</table>
<script>
	$("h2#All").click(function () {
	$("table.exercises").html("<%= escape_javascript(render(Exercise.all)) %>");
	$("div.sidebar h2").removeClass("highlight");
	$("h2#All").addClass("highlight");
	}); 
	$("h2#Glossary").click(function () {
	$("table.exercises").html("<%= escape_javascript(render(Glossary.all)) %>");
	$("div.sidebar h2").removeClass("highlight");
	$("h2#Glossary").addClass("highlight");
	}); 
	$("h2#Accessory").click(function () {
	$("table.exercises").html("<%= escape_javascript(render(OptionalAccessory.all)) %>");
	$("div.sidebar h2").removeClass("highlight");
	$("h2#Accessory").addClass("highlight");
	}); 
	$("h2#GT").click(function () {
	$("table.exercises").html("<%= escape_javascript(render(GeneralTip.all)) %>");
	$("div.sidebar h2").removeClass("highlight");
	$("h2#GT").addClass("highlight");
	}); 
</script>


