<br/>
<span class="category">
	<% exercise.categories.each do |category| %>
		Category: <%= category.name %>
	<% end %>
</span>
<table class="allinfo" color="white">
	<tr>
		<td>
			<span class="description">Description:<br />
			<%= exercise.description %></span><br />
			<br />
			<% if exercise.tips.count > 0 %>
				<span class="tips">Tips:
				<ul>
					<% exercise.tips.each do |tip| %>
						<li><%= tip.content %></li>
					<% end %>
				</ul></span>
			<% end %>
			<% if exercise.variations.count > 0 %>
				<span class="variations">Variations:
				<ol>
					<% exercise.variations.each do |variations| %>
						<li><%= variations.content %></li>
					<% end %>
				</ol></span>
			<% end %><br/>
			<div class="fb-like" data-href="<%= exercise_path(exercise) %>" data-send="true" data-show-faces="true"></div><br/>
			<div class="fb-comments" data-href="<%= exercise_path(exercise) %>" data-num-posts="3"></div>
		</td>
		<td class="tright">
			<%= render('exercises/media', :exercise => exercise) %>
			Info:
			<table class="information">
				<tr class="titles">
					<td title="bold signifies primary muscle(s) used; others signify secondary muscle(s) used">TARGET MUSCLES</td>
					<td>POST</td>
					<td title="Roughly, how high the band should be fixed relative to your body A.P. = Anchor Point)">A.P. HEIGHT</td>
				</tr>
				<tr class="values">
					<td title="bold signifies primary muscle(s) used; others signify secondary muscle(s) used">
						<% exercise.muscles.each do |muscle| %>
							<% if exercise.primary_muscle?(muscle) %>
								<strong><%= muscle.name.upcase %></strong>
							<% else %>
								<%= muscle.name %>
							<% end %>
							<br />
						<% end %>
					</td>
					<td>
						<% exercise.posts.each do |post| %><%= post.name %><br /><% end %></td>
					<td title="Roughly, how high the band should be fixed relative to your body A.P. = Anchor Point (Please note that many glossary terms are italicized.)"><% exercise.heights.each do |height| %><%= height.name %><br /><% end %></td>
				</tr>
				<tr class="titles">
					<td>FORCE</td>
					<td>POSITIONS</td>
					<td title="BOLD GRIP OPTIONS signify our recommendation, ALL = any grip option can function">GRIP OPTIONS</td>
				</tr>
				<tr class="values">
					<td><% exercise.forces.each do |force| %><%= force.name %><br /><% end %></td>
					<td><% exercise.positions.each do |position| %><%= position.name %><br /><% end %></td>
					<td title="BOLD GRIP OPTIONS signify our recommendation, ALL = any grip option can function">
					<% exercise.accessories.each do |accessory| %>
							<% if exercise.primary_accessory?(accessory) %>
								<strong><%= accessory.name.upcase %></strong>
							<% else %>
								<%= accessory.name %>
							<% end %>
							<br />
						<% end %>
				</tr>
			</table>
		</td>
	</tr>
</table>
