<span class="category">
	<% exercise.categories.each do |category| %>
		Category: <%= category.name %>
	<% end %>
</span>
<table class="allinfo" color="white">
	<tr id="left">
		<td>
			<span class="description">Description:<br />
			<%= exercise.description %></span><br />
			<br />
			<% if exercise.tips.count > 0 %>
				<span class="tips">Tips:
				<ul>
					<% exercise.tips.each do |tip| %>
						<li><%= tip.content %></li>
					<% end %>
				</ul></span>
			<% end %>
			<% if exercise.variations.count > 0 %>
				<span class="variations">Variations:
				<ol>
					<% exercise.variations.each do |variations| %>
						<li><%= variations.content %></li>
					<% end %>
				</ol></span>
			<% end %><br/>
			<div class="exfb" id="fb<%= exercise.id %>" %>
				<div class="fb-like" data-href="<%= likepage_exercise_path(exercise) %>" data-send="true" data-show-faces="true"></div><br />
				<div class="fb-comments" data-href="<%= likepage_exercise_path(exercise) %>" data-num-posts="2"></div>
				</div>
		</td>
		<td class="tright">
			<%= render('exercises/media', :exercise => exercise) %>
			<%= render('exercises/information', :exercise => exercise) %>
		</td>
	</tr>
</table>
<script>
$(function() {
	var w = ($(window).width()-700);
	if (w > 450) {
		w = 450;
	}
	$('div.fb-like').attr("data-width",w);
	$('div.fb-comments').attr("data-width",w);
});
</script>
