<% if exercise.display || signed_in? %>
<tr>
	<td class="exercise <%= exercise.id %>" id="<%= exercise.id %>" draggable="true">
		<%= link_to "+", expand_exercise_path(exercise), :remote => true, :class => "expand", :id => "bu#{exercise.id}" %>
		<%= link_to exercise.name, expand_exercise_path(exercise), :remote => true, :class => "text", :id => "txt#{exercise.id}"  %>
		<% if signed_in? %>
		<%= raw("<i>hidden</i>") if !exercise.display %>
		<%= link_to "edit", edit_exercise_path(exercise), :remote => true %> | <%= link_to "delete", exercise, :method => :delete, :confirm => "You sure?", :title => "Delete #{exercise.name}" %>
		<% end %>
		<div class="data" id="ex<%= exercise.id %>" style="display:none">
			<%= render('exercises/data', :exercise => exercise) %>
		</div>
	</td>
</tr>
<% end %>

