<tr>
	<td class="exercise <%= exercise.id %>" id="<%= exercise.id %>">
		<%= link_to "+", expand_exercise_path(exercise), :remote => true, :class => "expand", :id => "bu#{exercise.id}" %></div>
		<%= link_to exercise.name, expand_exercise_path(exercise), :remote => true, :class => "text", :id => "txt#{exercise.id}"  %></div>
		<div class="data" id="ex<%= exercise.id %>" style="display:none">
		</div>
	</td>
</tr>

