Info:
<table class="information">
	<tr class="titles">
		<td title="bold signifies primary muscle(s) used; others signify secondary muscle(s) used">TARGET MUSCLES</td>
		<td>POST</td>
		<td title="Roughly, how high the band should be fixed relative to your body A.P. = Anchor Point)">A.P. HEIGHT</td>
	</tr>
	<tr class="values">
		<td title="bold signifies primary muscle(s) used; others signify secondary muscle(s) used">
			<% exercise.muscles.each do |muscle| %>
				<% if exercise.primary_muscle?(muscle) %>
					<strong><%= muscle.name.upcase %></strong>
				<% else %>
					<%= muscle.name %>
				<% end %>
				<br />
			<% end %>
		</td>
		<td>
			<% exercise.posts.each do |post| %><%= post.name %><br /><% end %></td>
		<td title="Roughly, how high the band should be fixed relative to your body A.P. = Anchor Point (Please note that many glossary terms are italicized.)"><% exercise.heights.each do |height| %><%= height.name %><br /><% end %></td>
	</tr>
	<tr class="titles">
		<td>FORCE</td>
		<td>POSITIONS</td>
		<td title="BOLD ACCESSORIES signify our recommendation, ALL = any option can function">OPTIONAL ACCESSORIES</td>
	</tr>
	<tr class="values">
		<td><% exercise.forces.each do |force| %><%= force.name %><br /><% end %></td>
		<td><% exercise.positions.each do |position| %><%= position.name %><br /><% end %></td>
		<td title="BOLD ACCESSORIES signify our recommendation, ALL = any option can function">
		<% exercise.accessories.each do |accessory| %>
				<% if exercise.primary_accessory?(accessory) %>
					<strong><%= link_to accessory.name.upcase, accessory.store_link, :target => "_top" %></strong>
				<% else %>
					<%= link_to accessory.name, accessory.store_link, :target => "_top" %>
				<% end %>
				<br />
		<% end %>
	</tr>
</table>
