<div class="descbar">
	<%= render('categories/title', :category => @exercise.categories.first ) %>
</div>
<div class="exercises" style="top:150px">
	<table class="exercises"><%= render @exercise.categories.first.exercises %></table>
</div>
<script>
$("div.sidebar a").removeClass("highlight");
$("a#<%= @exercise.categories.first.name %>").addClass("highlight");
$("a#bu<%= @exercise.id %>").click();
window.location("<%= exercise_path(@exercise) %>");
</script>
